/* This adds background image and enables sticky footer to main page */
.parent-container {
background-image: url('https://images.unsplash.com/photo-1602738937384-b4a92fd5cbb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80');
    background-size: cover;
    min-height: calc(100vh - 50px);
}

/* This gives main content a 50 percent opacity background */
.nested-container {
    background: rgba(0, 0, 0, .5);
}
    
/* This colors horizontal rules on all pages */
hr {
    background: black;
}

/* This colors and sizes the footer */
footer {
    border-top: 2px solid white;
    height: 50px;
}
